*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';

}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(63, 94, 251);
	background: radial-gradient(
		circle,
		rgb(61, 92, 251) 0%,
		rgb(247, 65, 101) 100%
	);
}
.wrapper {
	width: 65vmin;
	height: 70vmin;
	background: #495c7d;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.game-details{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 27px;
  font-size: 1.2rem;
  font-weight: 500;

}
.play-board {
	width: 100%;
	height: 100%;
	background: #2c3548;
	display: grid;
	grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.food{
  background-color: red;
}
.snake-head{
  background-color: greenyellow;
}
